<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134462630809-m2cnvb0h42rmqt5ta3sgnj80ag7j7qcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134462630809-m2cnvb0h42rmqt5ta3sgnj80ag7j7qcj</string>
	<key>API_KEY</key>
	<string>AIzaSyDMDT87qBUotd-O2LXgqjGlSje5cKzm_ic</string>
	<key>GCM_SENDER_ID</key>
	<string>134462630809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ISMAIL.PALALI.MoviesApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-2e1a5</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-2e1a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134462630809:ios:72d14b16aa192aa7f10108</string>
</dict>
</plist>